@layer global, component, utility;

@layer global {
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/source-sans-3-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Source Sans 3";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/source-sans-3-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /*fonts*/
  :root {
    --fs-14: calc(14 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-24: calc(24 / 16 * 1rem);
    --fs-36: calc(36 / 16 * 1rem);
    --fs-48: calc(48 / 16 * 1rem);
    --fs-42: calc(42 / 16 * 1rem);
    --fs-72: calc(72 / 16 * 1rem);

    --font-size-topvan: var(--fs-14);
    --font-size-h1: clamp(2.625rem, 2.25rem + 1.875vw, 4.5rem);
    --font-size-h2: var(--fs-36);
    --font-size-h3: var(--fs-24);
    --font-size-button: var(--fs-18);
    --font-size-quote: var(--fs-24);

    @media (width >= calc(600 / 16 * 1rem)) {
      --font-size-topvan: var(--fs-16);
      --font-size-h2: var(--fs-48);
      --font-size-quote: var(--fs-36);
    }
  }
  /*colors*/
  :root {
    --c-white: hsl(0, 0%, 100%);
    --c-grey-dark: hsl(233, 14%, 25%);
    --c-purple: hsl(232, 58%, 55%);
    --c-teal: hsl(180, 100%, 42%);
    --c-teal-dark: hsl(180, 96%, 31%);
    --c-transparent: transparent;
    --c-magenta: hsl(320, 85%, 41%);
    --c-yellow: hsl(50, 99%, 53%);

    --color-main-bg: var(--c-white);
    --color-text-dark: var(--c-grey-dark);
    --color-text-light: var(--c-white);
    --color-top-tav-gradient-1: var(--c-teal);
    --color-top-tav-gradient-2: var(--c-yellow);

    --color-header-bg: var(--c-purple);
    --color-button-primary-bg: var(--c-teal);
    --color-button-primary-bg-hover: var(--c-teal-dark);
    --color-button-primary-border-hover: var(--c-teal-dark);
    --color-button-primaty-text: var(--c-grey-dark);
    --color-button-secondary-bg: var(--c-transparent);
    --color-button-secondary-text: var(--c-white);
    --color-button-secondary-bg-hover: var(--c-white);
    --color-button-secondary-text-hover: var(--color-header-bg);

    --color-button-primary-white-bg: var(--color-text-light);
    --color-button-primary-white-text: var(--c-grey-dark);
    --color-button-primary-white-border: var(--color-text-light);
    --color-button-primary-white-hover-bg: var(--c-teal);
    --color-button-primary-white-hover-border: var(--c-teal);

    --color-fullwidth-bg: var(--c-magenta);
    --color-cta-gradient-1: var(--c-grey-dark);
    --color-cta-gradient-2: var(--c-purple);
    --color-cta-gradient-3: var(--c-teal);
    --color-footer-link-hover: var(--c-magenta);
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
    line-height: 1.3;
    color: var(--color-text-dark);
  }
  h1,
  h2,
  h3 {
    line-height: 1.1;
  }
  h1,
  h2,
  h3,
  p {
    text-wrap: balance;
  }
  h1 {
    font-size: var(--font-size-h1);
  }
  h2 {
    font-size: var(--font-size-h2);
  }
  h3 {
    font-size: var(--font-size-h3);
  }
  p {
    font-size: calc(18 / 16 * 1rem);

    &.medium {
      font-size: calc(20 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        font-size: calc(24 / 16 * 1rem);
      }
    }
    &.large {
      font-size: calc(24 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        font-size: calc(28 / 16 * 1rem);
      }
    }
  }
  a {
    text-decoration: none;
  }
  img,
  picture,
  svg {
    max-width: 100%;
    display: block;
    height: auto;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .wrapper {
    width: min(calc(100% - 48px), calc(1200 / 16 * 1rem));
    margin-inline: auto;
  }
  .fullwidth {
    text-align: center;

    .fullwidth-wrapper {
      display: grid;
      justify-items: center;
    }
    .fullwidth-title {
      margin-block-end: 20px;
    }
    .fullwidth-text {
      margin-block-end: 40px;
    }
  }
  .section {
    padding-block: 60px;

    @media (width >= calc(1000 / 16 * 1rem)) {
      padding-block: 80px;
    }
  }
}
@layer component {
  /* button */
  .button {
    font-size: var(--font-size-button);
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 10px 14px;
    border-radius: 24px;
    display: inline-block;
    transition: 1.5s ease-in-out;
    transition-property: background-color, border-color, color;

    &.primary {
      background-color: var(--color-button-primary-bg);
      color: var(--color-button-primaty-text);
      border: 2px solid var(--color-button-primary-bg);
      &:hover {
        background-color: var(--color-button-primary-bg-hover);
        border-color: var(--color-button-primary-border-hover);
      }
      &.white {
        background-color: var(--color-button-primary-white-bg);
        border-color: var(--color-button-primary-white-border);
        color: var(--color-button-primary-white-text);

        &:hover {
          background-color: var(--color-button-primary-white-hover-bg);
          border-color: var(--color-button-primary-white-hover-border);
        }
      }
    }

    &.secondary {
      background-color: var(--color-button-secondary-bg);
      color: var(--color-button-secondary-text);
      border: 2px solid var(--color-button-secondary-text);

      &:hover {
        background-color: var(--color-button-secondary-bg-hover);
        color: var(--color-header-bg);
      }
    }
  }
  /* header */
  .header {
    background: var(--color-header-bg);
    padding-block: 12px;

    @media (width >= calc(600 / 16 * 1rem)) {
      padding-block: 20px;
    }
  }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo-img {
    width: calc(70 / 16 * 1rem);

    @media (width >= calc(600 / 16 * 1rem)) {
      width: calc(128 / 16 * 1rem);
    }
  }
  .topnav-links {
    display: flex;
    gap: 20px;
    @media (width >= calc(600 / 16 * 1rem)) {
      gap: 40px;
    }
  }
  .topnav-link {
    font-size: var(--fs-14);
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--color-text-light);
    text-transform: uppercase;

    &::after {
      content: "";
      height: 3px;
      display: block;
      background: linear-gradient(
        to right,
        var(--color-top-tav-gradient-1),
        var(--color-top-tav-gradient-2) 80%
      );
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    &:hover::after {
      opacity: 1;
    }
  }
  /* hero */
  .hero {
    background: var(--color-header-bg);
    color: var(--color-text-light);
    padding-block: 30px 120px;
    background-image: url("/images/hero-wave.svg");
    background-repeat: no-repeat;
    background-position: center calc(100% + 5px);
    background-size: 1440px auto;

    @media (width >= calc(1000 / 16 * 1rem)) {
      background-position: -5px calc(100% + 5px);
      background-size: calc(100% + 10px) auto;
    }
    @media (width >= calc(600 / 16 * 1rem)) {
      padding-block: 80px 0;
    }
    @media (width < calc(1000 / 16 * 1rem)) {
      padding-block-end: 150px;
    }
  }
  .hero-wrapper {
    display: grid;

    @media (width >= calc(1000 / 16 * 1rem)) {
      grid-template-columns: 6fr 5fr;
    }
  }
  .hero-img {
    width: clamp(12.5rem, 1.8874999999999993rem + 45.28vw, 30.1875rem);
    margin-block-end: 40px;
    place-self: center;
    order: 0;

    @media (width >= calc(1000 / 16 * 1rem)) {
      order: 2;
      margin-block-end: 0;
      place-self: center end;
    }
  }
  .hero-content {
    margin-block-end: 40px;
  }
  .hero-title {
    margin-block-end: 12px;
    @media (width >= calc(1000 / 16 * 1rem)) {
      margin-block-end: 20px;
    }
  }
  .hero-content {
    max-width: 50ch;
  }
  .hero-buttons {
    display: flex;
    gap: 20px;
  }
  /* features */
  .features-wrapper {
    display: grid;
    gap: 40px;

    @media (width >= calc(1000 / 16 * 1rem)) {
      grid-template-columns: repeat(3, 1fr);
      gap: 80px;
    }
  }
  .features-item {
    display: grid;
    gap: 10px;
    justify-items: center;

    @media (width >= calc(1000 / 16 * 1rem)) {
      justify-items: start;
      grid-auto-rows: min-content;
    }
  }
  .features-icon {
    width: auto;
    height: calc(48 / 16 * 1rem);
  }
  .features-title {
    font-weight: 700;
    line-height: 1;
    font-size: var(--fs-24);
  }

  .features-description {
    line-height: 1.3;
    font-size: var(--fs-18);
    text-align: center;

    @media (width >= calc(1000 / 16 * 1rem)) {
      text-align: left;
    }
  }
  /* fw-feature */
  .fw-feature {
    background-color: var(--color-fullwidth-bg);
    color: var(--color-text-light);
  }

  .fw-feature-img {
    max-width: calc(792 / 16 * 1rem);
    width: 100%;
  }
  /* testimonial */
  .testimonial-wrapper {
    max-width: calc(800 / 16 * 1rem);
    margin-inline: auto;
  }

  .testimonial-icon {
    width: calc(52 / 16 * 1rem);
    margin-block-end: 20px;

    @media (width >= calc(600 / 16 * 1rem)) {
      width: calc(78 / 16 * 1rem);
      margin-block-end: 30px;
    }
  }
  .testimonial-quote-text {
    font-weight: 700;
    font-size: var(--font-size-quote);
    margin-block-end: 30px;

    @media (widht >= calc(600 / 16 * 1rem)) {
      margin-block-end: 40px;
    }
  }
  .testimonial-author-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 30px;

    @media (width >= calc(1000 / 16 * 1rem)) {
      flex-direction: row;
      align-items: start;
    }
  }
  .testimonial-author-img {
    width: calc(120 / 16 * 1rem);
    border-radius: 50%;
  }
  .testimonial-author-description {
    text-align: center;
    align-self: center;

    @media (width >= calc(1000 / 16 * 1rem)) {
      text-align: left;
    }
  }
  /* cta */
  .cta {
    background: linear-gradient(
      to right,
      var(--color-cta-gradient-1),
      var(--color-cta-gradient-2) 75%,
      var(--color-cta-gradient-3) 150%
    );
    color: var(--color-text-light);

    @media (width >= calc(1000 / 16 * 1rem)) {
      background: linear-gradient(
        to right,
        var(--color-cta-gradient-1),
        var(--color-cta-gradient-2) 55%,
        var(--color-cta-gradient-3) 110%
      );
    }
  }
  /* footer */
  .footer-top {
    margin-block-end: 44px;
  }
  .footer-logo {
    display: block;
    width: fit-content;
  }
  .footer-logo-img {
    width: calc(128 / 16 * 1rem);
    margin-block-end: 10px;
  }
  .footer-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;

    @media (width >= calc(900 / 16 * 1rem)) {
      grid-template-columns: repeat(4, auto);
    }
  }
  .footer-title {
    font-size: calc(22 / 16 * 1rem);
    margin-block-end: 6px;
  }
  .footer-menu-list {
    display: grid;
    gap: 6px;
  }
  .footer-menu-link {
    font-size: calc(18 / 16 * 1rem);
    color: var(--color-text-dark);
    transition: color 0.5s ease-in-out;
    display: inline-flex;
    gap: 16px;
    align-items: center;

    &:hover {
      color: var(--color-footer-link-hover);
    }
    .footer-menu-icon path {
      transition: fill 0.5s ease-in-out;
    }
    &:hover .footer-menu-icon path {
      fill: var(--color-footer-link-hover);
    }
  }
  .footer-menu-icon {
    width: calc(18 / 16 * 1rem);
  }
}
@layer utility {
  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &.skip:focus {
      width: auto;
      height: auto;
      left: 0;
      padding: 10px;
      border: 1px solid;
    }
  }
  .hover-fade {
    transition: all 1.5s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
}
